@model EpiServerDevelopment.Features.ContentPage.ContentPage

@{
    Layout = "~/Features/Shared/Layouts/_Layout.cshtml";
}

<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 @Html.EditAttributes(e => e.SubTitle)>@Model.SubTitle</h1>
                    <p @Html.EditAttributes(e => e.Description)>@Model.Description</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Content Start -->
<section id="portfolio-work">
    <div class="container">
        <div class="row">
            @Html.PropertyFor(p => p.MainContent)
        </div>
    </div>
</section>

<!-- Call to action Start -->
@Html.PropertyFor(p => p.CallToAction, new { tag = "CallToActionTeaser" })